<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lylycs Business Login</title>
		<link rel="stylesheet" href="/styles/signup.css" />
	</head>
	<body style="padding: 16px">
		<section id="header">
			<h1>Email Verification</h1>
			<p id="message-container"></p>
			<form style="display: flex; flex-direction: column">
				<input
					id="input-email"
					value="nethajimessi10@gmail.com"
					placeholder="email"
					type="email"
					required
				/>
				<button id="login-form-submit" type="submit">Proceed</button>
			</form>
			<p>Already have an account? <a href="./login.html">Login</a></p>
		</section>
		<section id="footer">
			<p style="margin-bottom: 64px">
				&copy; 2021 <span style="color: red">Lylycs.com</span>. All Rights
				Reserved.
			</p>
		</section>
		<script>
			const form = document.getElementById("login-form-submit");
			const input = document.getElementById("input-email");
			const messageContainer = document.getElementById("message-container");

			form.addEventListener("click", (e) => {
				if (!input.checkValidity()) {
					return (messageContainer.innerHTML = input.validationMessage);
				}
				e.preventDefault();
				messageContainer.innerHTML = "loading...";
				fetch("https://lylycsfood.herokuapp.com/service/mail/sendotp", {
					method: "post",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						email: input.value,
						type: "restaurant",
					}),
				})
					.then((r) => r.json())
					.then((r) => {
						if (r.message.includes("code has been")) {
							localStorage.setItem("email", input.value);
							window.location.replace("./otpVerification.html");
						} else {
							alert("Some error has occured " + r.message);
						}
						messageContainer.innerHTML = "";
					});
			});
		</script>
	</body>
</html>
