<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/styles/home.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
			integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/styles/bootstrap.min.css" />
	</head>
	<body>
		<section id="header">
			<div class="logo" style="display: flex; justify-content: space-between;align-items: center;">
				<img
					class="img"
					src="/assets/logotext.png"
					height="40px"
					width="160.41px"
				/>
				<p id="logout-btn">Logout</p>
			</div>

			<div class="container-sm"><h2>Hello, <span style="color: rgb(65, 65, 65)">Melwin</span></h2>
			</section>
	
			<section id="body">
				<div style="display: flex; justify-content: space-between">
					
					<h4 style="color: rgb(143, 143, 143); margin: 0 15px;">Your Restaurants</h4>
					<p
						onclick="window.location.href='addrestaurant.html'"
						style="color: rgb(107, 107, 107); margin-right: 30px; font-weight: bold; border: 1px solid black; border-radius: 7px;padding: 7px 10px;background-color: black;color: white;cursor: pointer;"

					>
						Add <span><i class="fas fa-plus"></i></span>
					</p>
				</div>
				<div style="height: 16px"></div>
				
			</section>
	
			<section style="margin: 0 auto" id="footer">
				<p>
					&copy; 2021 <span style="color: red">Lylycs.com</span>. All Rights
					Reserved.
				</p>
			</section></div>
		<script src="/scripts/home.js"></script>
	</body>
</html>
