<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/styles/resetpassword.css" />
		<link rel="stylesheet" href="/styles/bootstrap.min.css" />
	</head>
	<body>
		<div class="logo">
			<img
				class="img"
				src="/assets/logotext.png"
				height="40px"
				width="160.41px"
			/>
		</div>

		<div class="container-sm">
			<section id="header">
				<h1 align="center" style="font-size: 40px; font-weight: bolder">
					Reset Password
				</h1>
				<center><p style="color: red" id="message-container"></p></center>

				<center>
					<table>
						<tr>
							<td align="center">
								<form>
									<input
										placeholder="old password"
										id="old-password"
										type="text"
										required
									/>
								</form>
							</td>
						</tr>
					</table>
					<table>
						<tr>
							<td align="center">
								<form>
									<input
										placeholder="new password"
										id="new-password"
										type="text"
										required
									/>
								</form>
							</td>
						</tr>
					</table>
				</center>
				<center>
					<table width>
						<tr>
							<td>
								<form>
									<input
										type="submit"
										value="Confirm"
										id="password-reset-button"
									/>
								</form>
							</td>
						</tr>
					</table>
				</center>
			</section>
		</div>
		<center>
			<section style="margin-top: 350px" id="footer">
				<p>
					&copy; 2021 <span style="color: red">Lylycs.com</span>. All Rights
					Reserved.
				</p>
			</section>
		</center>
	</body>
</html>
