@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;800&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
}

input {
	padding: 8px;
	margin: 8px;
}

body {
	display: flex;
	flex-direction: column;
}

#header {
	flex: 1;
	margin-top: 10px;
}

#footer {
	font-size: 12px;
}

#password-reset-button {
	padding: 7px 25px;
	border: none;
	border-radius: 7px;
	color: white;
	font-weight: bold;
	background-color: black;
	cursor: pointer;
	outline: none;
}

form {
	margin: 10px;
}

input {
	border: solid 1px rgb(200, 199, 199);
	border-radius: 7px;
}

.dhac {
	margin: 20px;
}

.logo {
	margin: -15px -15px 10px -15px !important;

	height: 80px;
	box-shadow: 1px 1px 14px 1px rgb(200, 199, 199);
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
